.cabecalho__menu-hamburger{
    width: 3rem;
    height: 3rem;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabecalho{
    background-color: var(--font-banner);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
}
.container__imagem{
    padding: 1em;
}